[submodule "Model01-sketch"]
	path = Model01-sketch
	url = https://github.com/algernon/Model01-sketch.git
[submodule "Kaleidoscope-CapsLock"]
	path = Kaleidoscope-CapsLock
	url = git@github.com:cxw42/Kaleidoscope-CapsLock.git
